/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* container */
.container {
  position: relative;
  width: 300px;
  height: auto;
  margin: auto;
  border: 1px solid black;
  padding: 10px;  /* center box */
}
/* end container */

/* box */
.container .box {

  position: relative;
  width: 100%;
  height: 50vh;
  background-size: 100% 100%;
  box-shadow: 5px 5px;
  margin-bottom: 10px; /* center box */
}

.box:last-child {
  margin-bottom: 0; /* center box */
}
  /* filter box */
  .container .box .filter {
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* end filter box */

  /* text box */
  .container .box .text h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* end text box */

/* end box */

/* city photo */
#milano {
  background-image: url(../img/milano.jpg);
}
#napoli {
  background-image: url(../img/napoli.jpg);
}
#roma {
  background-image: url(../img/roma.jpg);
}
/* end city photo */
